$pc-media:960px;
$pcs-media:959px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phone-media:479px;
$min-height:700px;

//電腦
@mixin pc-width {
    @media all and (min-width:$pc-media) {
        @content;
    }
}

//平板
@mixin pad-width {
    @media all and (min-width:$pad-media) and (max-width: $pcs-media) {
        @content;
    }
}

//小平板
@mixin small-pad-width {
    @media all and (min-width: $phone-media) and (max-width:$pads-media) {
        @content;
    }
}

//移動裝置
@mixin phone-width {
    @media all and (max-width: $phones-media) {
        @content;
    }
}

//小裝置固定樣式
@mixin min-device {
    @media all and (max-width:$pc-media) {
        @content;
    }
}