@import './device.scss';

* {
    font-family: '微軟正黑體';
}

a {
    color: #333 !important;

    &:hover {
        text-decoration: none !important;
        color: blue !important;

    }
}

$btn-theme-color:#1DD2AF;
$common-bg:#2C3E50;

%card-section {
    width: 100%;
    color: #fff;
    padding: .5rem;
}

.common-bg {
    background: $common-bg;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.row-80 {
    width: 80%;
    margin: 0 auto !important;
    font-size: 25px;

    @include min-device {
        width: 95%;
    }

}

.footer-header {
    font-size: 1.3rem;
    color: $btn-theme-color;
    font-weight: 700;
}

.footer-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 30px;
    border-color: transparent transparent #1DD2AF transparent;

    &:hover {
        cursor: pointer;
    }
}

.loginText:hover {
    cursor: pointer;
}

.bottom-icon {
    position: absolute;
}

.footer-img {
    border: 1px solid #FFF;
    padding: 0.2em;
    border-radius: 0.15em;
}

.news-plc {
    width: 15%;
    text-align: center;
    padding: .2rem;
    vertical-align: text-bottom
}

.news-info {
    width: 85%;
}

.tags {
    padding: .5rem;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: .5rem;
    margin: .2rem;
}

.admin {
    width: auto;
    position: absolute;
    bottom: 13.5rem;
    left: 1.2rem;
    border: 5px solid #fff;
    border-radius: 50%;
}

.blog-section {
    @extend %card-section;
    background: $btn-theme-color;
}

.holiday-nav {
    @extend %card-section;
    background: $common-bg;
}

.holiday-bottom {
    @extend %card-section;
    background: $btn-theme-color;
}

#where:hover {
    border: 1px solid;
}

.footer-nav {
    display: flex;
    color: #fff;

    @include min-device {
        display: block;
    }
}

.find {
    @include min-device {
        display: none;
    }
}

.search {
    @include min-device {
        margin-top: 12.5px;
        margin-bottom: 12.5px;
    }
}

.search-btn {
    @include min-device {
        display: none !important;
    }
}

.searchType {
    display: flex;

    @include min-device {
        display: block;
    }
}

.router-link {
    display: flex;

    @include min-device {
        display: none;
    }

    a:first-child {
        margin-left: auto;
    }
}

.link-btn {
    display: none;

    @include min-device {
        display: block;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;

    }
}

.hotel-block {
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;

    @include min-device {
        width: 100%;
    }
}