@import './device.scss';
$card-main-color:rgb(44, 62, 80);
$timeline-bg:#EDEEF0;
$content:#2C3E50;

%triangle {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
}

.timeline-section {
    position: relative;
    background-color: #fff;
    min-height: 50vh;

    &::after {
        //時間軸軸線
        content: '';
        position: absolute;
        width: 6px;
        background: $card-main-color;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;

        //導入RWD樣式
        @include min-device {
            left: 31px;
        }
    }

}

.timeline-container {
    padding: 10px 40px;
    position: relative;
    width: 50%;

    @include min-device {
        width: 100%;
        padding: 15px 55px;
    }

    //線上圓圈
    &::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -12.5px;
        background-color: white;
        border: 4px solid #FF9F55;
        top: 30px;
        border-radius: 50%;
        z-index: 1;

        @include min-device {
            left: 17px;
        }
    }
}


.left {
    left: 0;

    &::before {
        @extend %triangle;
        right: 20px;
        border: 1px solid #fff;
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent $content;

        @include min-device {
            left: 45px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent $content transparent transparent;
        }
    }
}

.right {
    left: 50%;

    @include min-device {
        left: 0
    }

    &::before {
        @extend %triangle;
        left: 20px;
        border: medium solid white;
        border-width: 20px 20px 20px 0;
        border-color: transparent $content transparent transparent;

        @include min-device {
            left: 45px;
            border-width: 10px 10px 10px 0;
        }
    }

    &::after {
        left: -12.5px;

        @include min-device {
            left: 17px;
        }
    }
}

//區塊內容
.content {
    border: solid $content;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    &-left-img::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 500px;
        top: -30px;
        left: 240px;
        background: #ffffff;
        transform: rotate(10deg);
    }
    &-right-img::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 500px;
        top:-30px;
        right: 240px;
        background: #ffffff;
        transform: rotate(-10deg);
    }
}